*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #cbcdcd,#92c09d;
}
.header{
    min-height: 100vh;
    width: 100%;
    background: #131417;
    position: relative;
}
.navbar{
    display: flex;
    padding: 20px 50px;
    align-items: center;
    background: #2A2A2C;
}
nav{
    flex: 1;
    text-align: right;
}
.logo img{
    transition: 0.8s ease-in-out;
    margin-top: 4px;
    cursor: pointer;
}
.logo img:hover{
    transform: scale(1.12) rotate(360deg);
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    border: 1px solid #0cda20;
    padding: 7px 22px;
    margin: 10px 15px;
    box-shadow: 4px 4px 5.5px #131417;
    transition: 0.3s;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #308D46;
    font-size: 15.5px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
nav ul li:hover a{
    color: #ffffff;
}
nav ul li:hover{
    background: #308D46;
    border: 1px solid #308D46;
    transform: translate(-6px,-6px);
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
h3{
    color: white;
    font-size: 18px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-weight: 500;
}

h4{
    color:#ffffff;
    font-size: 25px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    font-weight: 1000;
}
p{
    text-decoration: none;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    color: #308D46;
    font-family: 'Inter', sans-serif;
    padding-top: 5px;
    padding-bottom: 0px;
}
.team{
    font-size: 60px;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    margin: 25px auto 20px;
}
.team::after{
    content: '';
    width:0%;
    height: 3px;
    background: #308D46;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.team:hover::after{
    width: 70%;
}
.rights p{
    text-align: center;
    padding-top: 10vh;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    color: rgb(255, 255, 255);
}
.col-2-img img{
    padding-top: 70px;
}
.col-2-txt{
    width: 50%;
    padding-left: 50px;
}
.col-2-img{
    width: 40%;
    padding-left: 70px;
}
.col-2-txt h1{
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    color: #2ff56e;
    text-align: center;
}
.col-2-txt{
    padding-top: 30px;
}
.col-2-txt p{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    color:#deeee2;
    text-align: justify;
    font-weight: 500;
}
.col-3-img img{
    padding-top: 70px;
}
.col-3-txt{
    width: 50%;
    padding-right: 40px;
}
.col-3-img{
    width: 50%;
    padding-left: 40px;
}
.col-3-txt h1{
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    color:#2ff56e;
    text-align: center;
}
.col-3-txt p{
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: 500;
    color:#deeee2;
    text-align: justify;
}
.txt{
    font-family: 'Poppins',sans-serif;
    font-size: 40px;
    color: #2A2A2C;
    text-align: center;
}
.footer{
    background-color: #ffffff;
    margin-top: 100px;
}

.rights{
    background-color: #308d46;
    color: white;
    height: 10vh;
    margin: 0px;
    line-height: 5vh;
    text-align: center;
}
.rights p{
    padding-top: 18px;
    font-size: 15px;
}
.insta{
    color: rgb(219, 30, 219);
    padding-right: 52px;
}
.fb{
    color: blue;
    padding-right: 52px;
}
.link{
    color: rgb(3, 113, 216);
    padding-right: 52px;
}
.twitter{
    color: rgb(32, 32, 245);
}
.container-1{
    height: 15vh;
}
.lower-txt-p{
    margin-top: -5px;
    text-align: center;
    font-size: 20px;
}
.grey-bar{
    height: 3vh;
    background: #131417;
}


.hero {
    
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the hero section take the full height of the viewport */
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    margin: 0;
}


.logged-out {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height to 100% of the viewport height for vertical centering */
}

.button-container {
    border: 2px solid #fff;
    background: linear-gradient(45deg, #060707, #1d1f1f,#308d46); /* Gradient background for the container */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.button-container:hover {
    border-color:#308d46;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.logged-out h2 {
    font-size: 2em;
    color: #333;
}

.logged-out p {
    color: #666;
    margin-bottom: 20px;
}

.logged-out button {
    background: linear-gradient(45deg, #060707, #353434, #060707); /* Gradient background for the button */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s;
}

.logged-out button a {
    color: white;
    text-decoration: none;
}

.logged-out button:hover {
    background: linear-gradient(45deg,  #1d1f1f,#308d46); /* Lighter shade on hover */
    transform: scale(1.05);
}
